::-webkit-scrollbar {
	height: 9px;
	width: 9px;
}
::-webkit-scrollbar-track {
	border-radius: 6px;
	background-color: rgb(14, 43, 38, 0.4);
}
::-webkit-scrollbar-thumb {
	border-radius: 6px;
	background-color: rgba(255, 254, 214, 0.6);
}

header {
	position: fixed;
	width: 100%;
	z-index: 10;
}

.header__cart-button__container {
	position: relative;
}

.header__counter {
	position: absolute;
	top: -0.5rem;
	right: -0.7rem;
}

main {
	padding: 5rem 0.25rem;
}

.cartBody {
	border-top: 1px solid rgba(131, 128, 128, 0.2);
}

.cartContainer {
	display: grid;
	grid-template-columns: 3fr 2fr;
	grid-gap: 1rem;
	justify-content: center;
	justify-items: stretch;
}

@media screen and (max-width: 500px) {
	.table__price,
	.table__price-header {
		display: none;
	}
}

@media screen and (max-width: 1000px) {
	.cartContainer {
		grid-template-columns: 1fr;
	}

	.table__code,
	.table__code-header {
		display: none;
	}
}

.flex1 {
	flex: 1;
}

.hide {
	display: none;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, 300px);
	grid-gap: 1rem;
	justify-content: center;
	justify-items: center;
}

.flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* card image */
.card__img_wrapper {
	position: relative;
	padding-top: 75%;
	background: #fafafa;
	overflow: hidden;
}

.card__image {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	cursor: pointer;
	opacity: 0;

	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-ms-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.card__img_wrapper.loaded img {
	opacity: 1;
}

.card__counter {
	position: absolute;
	top: 0.3rem;
	right: 0.3rem;
	opacity: 0.8;
	z-index: 1;
}

.card__button {
	opacity: 0;

	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-ms-transition: opacity 0.5s;
	transition: opacity 0.5s;

	margin: 0 0.2rem;
}

.card__container:hover .card__button,
.card__container:active .card__button {
	opacity: 1;
}

.card__price {
	flex: 1;
}

.modal__layer {
	display: none;
	position: fixed;
	z-index: 10;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
}

.noScroll {
	overflow: hidden;
}
